<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="grouByColumns_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_filterString"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="grouByColumns">
<config key="InclList">
<entry key="array-size" type="xint" value="121"/>
<entry key="0" type="xstring" value="Document"/>
<entry key="1" type="xstring" value="lyon"/>
<entry key="2" type="xstring" value="franc"/>
<entry key="3" type="xstring" value="canon"/>
<entry key="4" type="xstring" value="eo"/>
<entry key="5" type="xstring" value="fourvier"/>
<entry key="6" type="xstring" value="rhone"/>
<entry key="7" type="xstring" value="croixrouss"/>
<entry key="8" type="xstring" value="rhonealp"/>
<entry key="9" type="xstring" value="graffiti"/>
<entry key="10" type="xstring" value="fresqu"/>
<entry key="11" type="xstring" value="saon"/>
<entry key="12" type="xstring" value="rue"/>
<entry key="13" type="xstring" value="rouss"/>
<entry key="14" type="xstring" value="upload"/>
<entry key="15" type="xstring" value="byinstagram"/>
<entry key="16" type="xstring" value="foursquar"/>
<entry key="17" type="xstring" value="couleur"/>
<entry key="18" type="xstring" value="rhône"/>
<entry key="19" type="xstring" value="rhônealp"/>
<entry key="20" type="xstring" value="canoneos6d"/>
<entry key="21" type="xstring" value="architectur"/>
<entry key="22" type="xstring" value="noiretblanc"/>
<entry key="23" type="xstring" value="basiliqu"/>
<entry key="24" type="xstring" value="mur"/>
<entry key="25" type="xstring" value="confluenc"/>
<entry key="26" type="xstring" value="pont"/>
<entry key="27" type="xstring" value="vill"/>
<entry key="28" type="xstring" value="nikon"/>
<entry key="29" type="xstring" value="francia"/>
<entry key="30" type="xstring" value="lion"/>
<entry key="31" type="xstring" value="35mm"/>
<entry key="32" type="xstring" value="fourvièr"/>
<entry key="33" type="xstring" value="vieuxlyon"/>
<entry key="34" type="xstring" value="musé"/>
<entry key="35" type="xstring" value="natur"/>
<entry key="36" type="xstring" value="lumièr"/>
<entry key="37" type="xstring" value="automn"/>
<entry key="38" type="xstring" value="parcdelatêtedor"/>
<entry key="39" type="xstring" value="parc"/>
<entry key="40" type="xstring" value="macro"/>
<entry key="41" type="xstring" value="girl"/>
<entry key="42" type="xstring" value="peopl"/>
<entry key="43" type="xstring" value="white"/>
<entry key="44" type="xstring" value="black"/>
<entry key="45" type="xstring" value="fêtedeslumièr"/>
<entry key="46" type="xstring" value="byflickrmobil"/>
<entry key="47" type="xstring" value="flickriosapp"/>
<entry key="48" type="xstring" value="streetart"/>
<entry key="49" type="xstring" value="pasteup"/>
<entry key="50" type="xstring" value="collag"/>
<entry key="51" type="xstring" value="paper"/>
<entry key="52" type="xstring" value="europ"/>
<entry key="53" type="xstring" value="wheatpast"/>
<entry key="54" type="xstring" value="past"/>
<entry key="55" type="xstring" value="wheatpap"/>
<entry key="56" type="xstring" value="blackwhit"/>
<entry key="57" type="xstring" value="blackandwhit"/>
<entry key="58" type="xstring" value="river"/>
<entry key="59" type="xstring" value="saôn"/>
<entry key="60" type="xstring" value="nuit"/>
<entry key="61" type="xstring" value="fleuv"/>
<entry key="62" type="xstring" value="church"/>
<entry key="63" type="xstring" value="sculptur"/>
<entry key="64" type="xstring" value="night"/>
<entry key="65" type="xstring" value="wall"/>
<entry key="66" type="xstring" value="bridg"/>
<entry key="67" type="xstring" value="guillotièr"/>
<entry key="68" type="xstring" value="urban"/>
<entry key="69" type="xstring" value="winter"/>
<entry key="70" type="xstring" value="sunnyday"/>
<entry key="71" type="xstring" value="d3200"/>
<entry key="72" type="xstring" value="bellecour"/>
<entry key="73" type="xstring" value="croix"/>
<entry key="74" type="xstring" value="citi"/>
<entry key="75" type="xstring" value="oldtown"/>
<entry key="76" type="xstring" value="terreaux"/>
<entry key="77" type="xstring" value="saint"/>
<entry key="78" type="xstring" value="vieux"/>
<entry key="79" type="xstring" value="theatr"/>
<entry key="80" type="xstring" value="mural"/>
<entry key="81" type="xstring" value="frankreich"/>
<entry key="82" type="xstring" value="kirch"/>
<entry key="83" type="xstring" value="архитектура"/>
<entry key="84" type="xstring" value="франция"/>
<entry key="85" type="xstring" value="лион"/>
<entry key="86" type="xstring" value="oldhous"/>
<entry key="87" type="xstring" value="earlysundaymorn"/>
<entry key="88" type="xstring" value="jacquesmeynierdemalviala"/>
<entry key="89" type="xstring" value="tôtundimanchematin"/>
<entry key="90" type="xstring" value="panason"/>
<entry key="91" type="xstring" value="traboul"/>
<entry key="92" type="xstring" value="fetedeslumier"/>
<entry key="93" type="xstring" value="manifest"/>
<entry key="94" type="xstring" value="lumix"/>
<entry key="95" type="xstring" value="lyo15"/>
<entry key="96" type="xstring" value="charlemagn"/>
<entry key="97" type="xstring" value="francja"/>
<entry key="98" type="xstring" value="librari"/>
<entry key="99" type="xstring" value="ifla"/>
<entry key="100" type="xstring" value="wlic"/>
<entry key="101" type="xstring" value="eblida"/>
<entry key="102" type="xstring" value="d800"/>
<entry key="103" type="xstring" value="feu"/>
<entry key="104" type="xstring" value="hockey"/>
<entry key="105" type="xstring" value="lhc"/>
<entry key="106" type="xstring" value="leica"/>
<entry key="107" type="xstring" value="summicron"/>
<entry key="108" type="xstring" value="leitz"/>
<entry key="109" type="xstring" value="summicronr"/>
<entry key="110" type="xstring" value="summicronr35mmf2"/>
<entry key="111" type="xstring" value="leitax"/>
<entry key="112" type="xstring" value="l35d800"/>
<entry key="113" type="xstring" value="street"/>
<entry key="114" type="xstring" value="boottocht"/>
<entry key="115" type="xstring" value="artific"/>
<entry key="116" type="xstring" value="spectacl"/>
<entry key="117" type="xstring" value="filternofilt"/>
<entry key="118" type="xstring" value="rise"/>
<entry key="119" type="xstring" value="xproii"/>
<entry key="120" type="xstring" value="Document class"/>
</config>
<config key="ExclList">
<entry key="array-size" type="xint" value="0"/>
</config>
<entry key="keep_all_columns_selected" type="xboolean" value="false"/>
</config>
<config key="maxNoneNumericalVals_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="maxNoneNumericalVals" type="xint" value="10000"/>
<config key="enableHilite_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="enableHilite" type="xboolean" value="false"/>
<config key="valueDelimiter_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="valueDelimiter" type="xstring" value=", "/>
<config key="sortInMemory_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="sortInMemory" type="xboolean" value="false"/>
<config key="columnNamePolicy_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="columnNamePolicy" type="xstring" value="Aggregation method (column name)"/>
<config key="aggregationColumn">
<config key="columnNames">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="columnTypes">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="aggregationMethod">
<entry key="array-size" type="xint" value="0"/>
</config>
<config key="inclMissingVals">
<entry key="array-size" type="xint" value="0"/>
</config>
</config>
<config key="aggregationOperatorSettings"/>
<config key="patternAggregators"/>
<config key="dataTypeAggregators"/>
<config key="retainOrder_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="retainOrder" type="xboolean" value="false"/>
<config key="inMemory_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="inMemory" type="xboolean" value="false"/>
<config key="nodeVersion_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="nodeVersion" type="xint" value="1"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.groupby.GroupByNodeFactory"/>
<entry key="node-name" type="xstring" value="GroupBy"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="3.1.1.v201601211102"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-feature-version" type="xstring" value="3.1.1.v201601291159"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="GroupBy"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 5846, Cols: 121"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="c0b3b745-b97a-4001-abe5-c4fb8f616850"/>
</config>
</config>
